	<ul id="wb-tphp">
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
		</li>
		<li class="wb-slc visible-sm visible-md visible-lg">
			<a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de ce site&#160;»</a>
		</li>
		<li class="wb-slc visible-md visible-lg">
			<a class="wb-sl" href="#wb-sec">Passer au menu de la section</a>
		</li>
	</ul>
	<header role="banner">
		<div id="wb-bnr" class="container">
			<div class="row">
				<div class="brand col-xs-8 col-sm-9 col-md-6">
					<a href="http://www.canada.ca/fr/index.html"><object type="image/svg+xml" tabindex="-1" data="https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_20/GCWeb/assets/sig-blk-fr.svg"></object><span class="wb-inv"> Gouvernement du Canada</span></a>
				</div>
				<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
					<h2>Recherche et menus</h2>
					<ul class="list-inline text-right chvrn">
						<li><a href="#mb-pnl" title="Recherche et menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Recherche et menus</span></span></span></a></li>
					</ul>
					<div id="mb-pnl"></div>
				</section>
				<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
					<h2>Recherche</h2>
					<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
						<div class="form-group">
							<label for="wb-srch-q" class="wb-inv">Recherchez le site Web</label>
							<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Rechercher dans Canada.ca">
							<datalist id="wb-srch-q-ac">
								<!--[if lte IE 9]><select><![endif]-->
								<!--[if lte IE 9]></select><![endif]-->
							</datalist>
						</div>
						<div class="form-group submit">
							<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Recherche</span></button>
						</div>
					</form>
				</section>
			</div>
		</div>
		<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
			<div class="container nvbar">
				<h2>Menu des sujets</h2>
				<div class="row">
					<ul class="list-inline menu">
						<li><a href="http://www.edsc.gc.ca/fr/emplois/index.page">Emplois</a></li>
						<li><a href="http://www.cic.gc.ca/francais/index.asp">Immigration</a></li>
						<li><a href="http://voyage.gc.ca">Voyage</a></li>
						<li><a href="http://www.canada.ca/fr/services/entreprises/index.html">Entreprises</a></li>
						<li><a href="http://www.canada.ca/fr/services/prestations/index.html">Prestations</a></li>
						<li><a href="http://canadiensensante.gc.ca/index-fra.php">Santé</a></li>
						<li><a href="http://www.canada.ca/fr/services/impots/index.html">Impôts</a></li>
						<li><a href="http://www.canada.ca/fr/services/index.html">Autres services</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<nav role="navigation" id="wb-bc" property="breadcrumb">
			<h2>Vous êtes ici :</h2>
			<div class="container">
				<div class="row">
					<ol class="breadcrumb">
						<li><a href="http://www.canada.ca/fr/index.html">Accueil</a></li>
					</ol>
				</div>
			</div>
		</nav>
	</header>