		<footer role="contentinfo" id="wb-info">
			<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">
				<h2 class="wb-inv">À propos de ce site</h2>
				<div class="row">
					<section class="col-sm-2 col-lg-offset-3">
						<ul class="list-unstyled">
							<li><a class="gl-footer" href="http://www.canada.ca/fr/contact.html">Coordonnées</a></li>
						</ul>
					</section>
					<section class="col-sm-3 col-lg-2">
						<ul class="list-unstyled">
							<li><a href="http://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
						</ul>
					</section>
					<section class="col-sm-3 col-lg-3">
						<ul class="list-unstyled">
							<li><a href="http://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
						</ul>
					</section>
				</div>
			</nav>
			<div class="brand">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
						</div>
						<div class="col-xs-6 col-md-12 text-right">
							<object type="image/svg+xml" tabindex="-1" role="img" data="https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_21/assets/wmms-blk.svg" aria-label="Symbole du gouvernement du Canada"></object>
						</div>
					</div>
				</div>
			</div>
		</footer>