<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" data-th-lang="#{lang}" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en" data-th-lang="__#{lang}__" dir="ltr">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
     <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
          wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Temporary Title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <!-- Load closure template scripts -->
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/cdts/compiled/soyutils.js" data-th-src="${cdn.url} + '/etc/designs/canada/cdts/' + ${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/cdts/compiled/soyutils.js'"></script>
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/cdts/compiled/wet-en.js" data-th-src="${cdn.url} + '/etc/designs/canada/cdts/' + ${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/cdts/compiled/wet-' + #{lang} + '.js'"></script>
    <noscript>
      <!-- Write closure fall-back static file -->
      <div data-th-replace="${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/refTop'"></div>
    </noscript>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
        document.write(wet.builder.refTop({
          cdnEnv: /*[[${cdn.environment}]]*/ "prod"
        }));
    </script>
    <!-- Write external CSS elements here. Added through 'externalCssIncludes' model attribute. -->
    <!--/*/ <th:block th:each="externalCssInculde : ${externalCssIncludes}"> /*/-->
    <link rel="stylesheet" type="text/css" data-th-href="@{__${externalCssInculde}__}" />
    <!--/*/ </th:block> /*/-->
    <!-- Write custom CSS elements here. Added through 'cssIncludes' model attribute. -->
    <!--/*/ <th:block th:each="cssInclude : ${cssIncludes}"> /*/-->
    <link rel="stylesheet" type="text/css" data-th-href="@{__${cssInclude}__}" />
    <!--/*/ </th:block> /*/-->  
     <link rel="stylesheet" type="text/css"  href="css/breadcrumb.css" />
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">		
    <!-- Write session timeout JS here. -->
    <div data-th-if="${cdn.sessionEnabled}" data-th-utext="${wetSessionTimeout}"></div>
    <div id="def-top">
      <!-- Write closure fall-back static file -->   
      <div data-th-replace="${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/transactTop-' + #{lang}"></div>
      <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
      <noscript><iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager -->
    </div>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
	    var defTop = document.getElementById("def-top");
	    defTop.outerHTML = wet.builder.top({
	        cdnEnv: /*[[${cdn.environment}]]*/ "prod",
	        topSecMenu: true,
	        search: false,
	        siteMenu: false,
	        showPreContent: false,
	        breadcrumbs: /*[[${exitTransactionLink}]]*/ [{'href':'/app/scr/sis/template/','title':'Exit transaction'}]
	    });   
    </script>
    <div class="container">
      <div class="row">
        <main role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">
          <!-- the main content -->
          <div layout:fragment="content">Main content goes here.</div>
          <!-- end main content -->
	      <div id="def-preFooter">
	        <!-- Write closure fall-back static file -->
            <div data-th-include="${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/preFooter-' + #{lang}"></div>
	      </div>   
          <!-- Write closure template -->
	      <script data-th-inline="javascript">
	          var defPreFooter = document.getElementById("def-preFooter");
	          defPreFooter.outerHTML = wet.builder.preFooter({
	              cdnEnv: /*[[${cdn.environment}]]*/ "prod",
	              dateModified: /*[[#{project.build.date}]]*/ "",
	              showPostContent: false, 
				  showFeedback: false,
				  showShare: false
	          });
	      </script>
        </main>
        <nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
          Write closure fall-back static file     
          <div data-th-include="${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/secMenu-' + #{lang}"></div>    
        </nav>
        <!-- Write closure template -->
        <script data-th-inline="javascript">
	        var secondarymenu = document.getElementById("wb-sec");
	        secondarymenu.innerHTML = wet.builder.secmenu({
	        	sections: /*[[${sections}]]*/ {}
	        });
        </script>	
      </div>
    </div>        	
    <div id="def-footer">
      <!-- Write closure fall-back static file -->
      <div data-th-include="${cdn.wettemplateTheme} + '/' + ${cdn.wettemplateVersion} + '/transactFooter-' + #{lang}"></div>
    </div>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
        var defFooter = document.getElementById("def-footer");
        defFooter.outerHTML = wet.builder.footer({
            cdnEnv: /*[[${cdn.environment}]]*/ "prod",
		    showFooter: false,
		    showFeatures: false,
		    contactLinks: /*[[${contactLink}]]*/ [{text:"Contact information",href:"/"}],
	        termsLink: /*[[${termsLink}]]*/ "/",
	        privacyLink: /*[[${privacyLink}]]*/ "/"
        });        
    </script>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
        document.write(wet.builder.refFooter({
            cdnEnv: /*[[${cdn.environment}]]*/ "prod",
            exitScript: /*[[${leavingSecureSite.exitScriptEnabled}]]*/ "",
            exitURL: /*[[${leavingSecureSite.exitUrl}]]*/ "/",
            exitMsg: /*[[${leavingSecureSite.exitMessage}]]*/ "",
            exitDomains: /*[[${leavingSecureSite.exitExcludedDomains}]]*/ {}
            // Render leaving secure site warning.
        }));
    </script>
    <!-- Additional JavaScript includes.  Added through jsLibraryIncludes model attribute. -->
    <!--/*/ <th:block th:each="jsLibraryInclude : ${jsLibraryIncludes}"> /*/-->
    <script type="text/javascript" data-th-src="@{__${jsLibraryInclude}__}"></script>
    <!--/*/ </th:block> /*/-->    
    
    <!-- Additional JavaScript includes.  Added through jsIncludes model attribute. -->
    <!--/*/ <th:block th:each="jsInclude : ${jsIncludes}"> /*/-->
    <script type="text/javascript" data-th-src="@{__${jsInclude}__}"></script>
    <!--/*/ </th:block> /*/-->
    
    <script type="text/javascript" data-th-src="@{/js/breadcrumbs.js}" ></script>
  </body>
</html>