<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en" data-th-lang="#{lang}" dir="ltr">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
          wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Temporary Title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <!-- Additional analytics, if required. -->
    <!--/*/ <th:block th:replace="analytics/analytics-header"></th:block> /*/-->    
    <!-- Load closure template scripts -->
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/cdts/compiled/soyutils.js" data-th-src="${cdn.url} + '/etc/designs/canada/cdts/' + ${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.javascript} + '/cdts/compiled/soyutils.js'"></script>
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/cdts/compiled/wet-en.js" data-th-src="${cdn.url} + '/etc/designs/canada/cdts/' + ${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.javascript} + '/cdts/compiled/wet-' + #{lang} + '.js'"></script>
    <noscript>
      <!-- Write closure fall-back static file -->
      <div data-th-replace="${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.template} + '/refTop'"></div>
    </noscript>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
      /*<![CDATA[*/
      document.write(wet.builder.refTop({
          cdnEnv: /*[[${cdn.environment}]]*/ "Akamai",
          jqueryEnv: /*[[${cdn.wettemplate.loadjqueryfromgoogle}]]*/ false
      }));
      /*]]>*/
    </script>
    <!-- Write external CSS elements here. Added through 'externalCssIncludes' model attribute. -->
    <!--/*/ <th:block th:each="externalCssInculde : ${externalCssIncludes}"> /*/-->
    <link rel="stylesheet" type="text/css" data-th-href="@{__${externalCssInculde}__}" />
    <!--/*/ </th:block> /*/-->
    <!-- Write custom CSS elements here. Added through 'cssIncludes' model attribute. -->
    <!--/*/ <th:block th:each="cssInclude : ${cssIncludes}"> /*/-->
    <link rel="stylesheet" type="text/css" data-th-href="@{__${cssInclude}__}" />
    <!--/*/ </th:block> /*/-->
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">        
    <!-- Insert session timeout here. -->
    <!--/*/ <th:block  data-th-if="${cdn.session.timeout.enabled}" data-th-utext="${wetSessionTimeout}"></th:block> /*/-->
    <div id="def-top">
      <!-- Write closure fall-back static file -->   
      <div data-th-replace="${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.template} + '/transactTop-' + #{lang}"></div>
      <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
      <noscript><iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager -->
    </div>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
      /*<![CDATA[*/
      var defTop = document.getElementById("def-top");
      defTop.outerHTML = wet.builder.top({
          cdnEnv: /*[[${cdn.environment}]]*/ "Akamai",
          topSecMenu: true,
          search: false,
          siteMenu: false,
          showPreContent: false
      });
      /*]]>*/
    </script>
    <div class="container">
      <div class="row">
        <main role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">
          <!-- the main content -->
          <div layout:fragment="content">Main content goes here.</div>
          <!-- end main content -->
          <div id="def-preFooter">
            <!-- Write closure fall-back static file -->
            <div data-th-include="${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.template} + '/preFooter-' + #{lang}"></div>
          </div>   
          <!-- Write closure template -->
          <script data-th-inline="javascript">
            /*<![CDATA[*/
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
                cdnEnv: /*[[${cdn.environment}]]*/ "Akamai",
                dateModified: /*[[#{project.build.date}]]*/ "2017-01-01",
                showPostContent: false, 
                showFeedback: false,
                showShare: false
            });
            /*]]>*/
          </script>
        </main>
        <nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
          <!-- Write closure fall-back static file -->     
          <div data-th-include="${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.template} + '/secMenu-' + #{lang}"></div>    
        </nav>
        <!-- Write closure template -->
        <script data-th-inline="javascript">
          /*<![CDATA[*/
          var secondarymenu = document.getElementById("wb-sec");
          secondarymenu.innerHTML = wet.builder.secmenu({
              sections: /*[[${sections}]]*/ {}
          });
          /*]]>*/
        </script>    
      </div>
    </div>            
    <div id="def-footer">
      <!-- Write closure fall-back static file -->
      <div data-th-include="${cdn.wettemplate.theme} + '/' + ${cdn.wettemplate.version.template} + '/transactFooter-' + #{lang}"></div>
    </div>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
      /*<![CDATA[*/
        var defFooter = document.getElementById("def-footer");
        defFooter.outerHTML = wet.builder.footer({
            cdnEnv: /*[[${cdn.environment}]]*/ "Akamai",
            showFooter: false,
            showFeatures: false,
            contactLinks: /*[[${contactLink}]]*/ [{text:"Contact information",href:"/"}]
            // termsLink: /*[[${termsLink}]]*/ "/",
            // privacyLink: /*[[${privacyLink}]]*/ "/"
        });
      /*]]>*/
    </script>
    <!-- Write closure template -->
    <script data-th-inline="javascript">
      /*<![CDATA[*/
        document.write(wet.builder.refFooter({
            cdnEnv: /*[[${cdn.environment}]]*/ "Akamai",
            jqueryEnv: /*[[${cdn.wettemplate.loadjqueryfromgoogle}]]*/ false,
            exitScript: /*[[${cdn.leavingsecuresitewarning.enabled}]]*/ false,
            exitURL: /*[[${cdn.leavingsecuresitewarning.redirecturl}]]*/ "#",
            exitMsg: "You are about to leave a secure site, do you wish to continue?",
            exitDomains: /*[[${cdn.leavingsecuresitewarning.excludeddomains}]]*/ {}
        }));
      /*]]>*/
    </script>
    <!-- Additional JavaScript includes.  Added through jsLibraryIncludes model attribute. -->
    <!--/*/ <th:block th:each="jsLibraryInclude : ${jsLibraryIncludes}"> /*/-->
    <script type="text/javascript" data-th-src="@{__${jsLibraryInclude}__}"></script>
    <!--/*/ </th:block> /*/-->    
    
    <!-- Additional JavaScript includes.  Added through jsIncludes model attribute. -->
    <!--/*/ <th:block th:each="jsInclude : ${jsIncludes}"> /*/-->
    <script type="text/javascript" data-th-src="@{__${jsInclude}__}"></script>
    <!--/*/ </th:block> /*/-->
    
    <script type="text/javascript" data-th-src="@{/js/breadcrumbs.js}" ></script>
    
    <!-- Additional analytics, if required. -->
    <!--/*/ <th:block th:replace="analytics/analytics-footer"></th:block> /*/-->    
  </body>
</html>