		<aside class="gc-nttvs container">
			<h2>Government of Canada activities and initiatives</h2>
			<div id="gcwb_prts" class="wb-eqht row">
				<p class="mrgn-lft-md"><a href="https://www.canada.ca/activities.html">Access Government of Canada activities and initiatives</a></p>
			</div>
		</aside>
		<footer role="contentinfo" id="wb-info">
			<!-- If you want to use the global navigation 
			<nav role="navigation" class="container wb-navcurr">
				<h2 class="wb-inv">About government</h2>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3">
					<li><a href="http://www.esdc.gc.ca/en/jobs/index.page">Jobs</a></li>
					<li><a href="http://www.cic.gc.ca/english/index.asp">Immigration</a></li>
					<li><a href="https://travel.gc.ca/">Travel</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services.html">More services</a></li>
				</ul>
			</nav>
			-->
			<nav role="navigation" class="container wb-navcurr">
				<h2 class="wb-inv">About government</h2>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3">
					<!-- Add in your customized links below to populate the footer -->
					<li><a href="#">Link 1</a></li>
				</ul>
			</nav>
			<div class="brand">
				<div class="container">
					<div class="row">
						<nav class="col-md-10 ftr-urlt-lnk">
							<h2 class="wb-inv">About this site</h2>
							<ul>
								<li><a href="https://www.canada.ca/en/contact.html">Contact information</a></li>
								<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
								<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
							</ul>
						</nav>
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
						</div>
						<div class="col-xs-6 col-md-2 text-right">
							<object type="image/svg+xml" tabindex="-1" role="img" data="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada"></object>
						</div>
					</div>
				</div>
			</div>
		</footer>