
<nav aria-label="Ignorer les liens">
<ul id="wb-tphp">
<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
<li class="wb-slc visible-xs visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de cette application Web&#160;»</a></li>
</ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo">
<span class="wb-inv"> / <span lang="en">Government of Canada</span></span>
<meta property="name" content="Gouvernement du Canada">
<meta property="areaServed" typeof="Country" content="Canada">
<link property="logo" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/wmms-blk.svg">
</div>
</div>
</div>
<div class="app-bar">
<div class="container">
<div class="row">
<section class="col-xs-12">
<h2 class="wb-inv">Nom de l'application Web</h2>
<a class="app-name" href="#[YourApplicationName]">Name of Web application</a>
</section>
</div>
</div>
</div>
</header>
