<footer id="wb-info">
<div id="transactFooter" class="landscape">
<nav class="container wb-navcurr" aria-labelledby="aboutGov">
<h2 class="wb-inv" id="aboutGov">À propos du gouvernement</h2>
<ul class="list-unstyled colcount-sm-2 colcount-md-3">
<li><a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
<li><a href="https://www.canada.ca/fr/transparence/rapports.html">Rapports à l'échelle du gouvernement</a></li>
<li><a href="https://pm.gc.ca/fr">Premier ministre</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">À propos du gouvernement</a></li>
<li><a href="https://open.canada.ca/fr">Gouvernement ouvert</a></li>
</ul>
</nav>
</div>
<div class="brand">
<div class="container">
<div class="row">
<nav class="col-md-9 col-lg-10 ftr-urlt-lnk" aria-labelledby="aboutSite">
<h2 class="wb-inv" id="aboutSite">À propos du site</h2>
<ul>
<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
<li><a href="https://www.canada.ca/fr/gouvernement/a-propos.html">À propos de Canada.ca</a></li>
<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
</ul>
</nav>
<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div id="StdIssueWasHere2" class="col-xs-6 col-md-2 text-right">
<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada">
</div>
</div>
</div>
</div>
</footer>