<nav aria-label="Skip Links">
<ul id="wb-tphp">
<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
<li class="wb-slc visible-xs visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "About government"</a></li>
</ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/sig-blk-en.svg" alt="Government of Canada" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span><meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada">
<link id="StdIssueWasHere1" property="logo" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/wmms-blk.svg">
</div>
</div>
</div>
<div class="transactBar"></div>
<nav id="wb-bc" property="breadcrumb" aria-labelledby="breadcrumbPosition">
<h2 id="breadcrumbPosition">You are here:</h2>
<div class="container">
<ol class="breadcrumb">
<li>
<a href="https://www.canada.ca/en.html">Canada.ca</a>
</li>
</ol>
</div>
</nav>
</header>
